<% if microposts.any? %>
  <ul class="list-unstyled">
    <% microposts.each do |micropost| %>
      <li class="media">
        
        <div class="media-body">
          <div>
            <%= micropost.content %>
          </div>
         
        </div>
      </li>
    <% end %>
  </ul>
 
<% end %>